@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/css/layout_bundle")
    @RenderSection("css", required: false)

</head>
<body>
    <header>
        <div class="content clearfix">
            <h1 class="logo">Demo</h1>
            @if (Request.IsAuthenticated)
            {
                <ul class="nav">
                    <li class="first">
                        @using (Html.BeginForm("Logout", "Auth", FormMethod.Post, new { id = "logOffForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" id="btnLogin" onclick="return main.logout();" value="Log out">
                                Log out
                            </button>
                        }
                    </li>
                    <li class="last">
                        Hello @User.Identity.GetUserName()
                    </li>
                </ul>
            }
        </div>

    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
        <div class="content">
            Copyright &copy; 2015
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("script", required: false)
</body>
</html>